{% extends "base.html" %}

{% block page_title %}
    {{page_title}}
{% endblock page_title %}

{% block contents %}
    <h1>Are you sure to submit this status ??</h1>
    <form method="POST" action="{% url 'create' %}">
        {% csrf_token %}
        <table>
			<tr>
				<td>
					Name : {{name}}<input type='hidden' name='name' value='{{name}}'>
				</td>
			<tr>
				<td>
					Status : {{status}}<input type='hidden' name='status' value='{{status}}'>
				</td>
			</tr>
        </table>
        <button type="submit">Submit</button>
    </form>
{% endblock contents %}