<html>
<head>
	<title>
		FORM
	</title>
</head>
<body>
	<font color='black' size='8'>Please fill this form</font>
	<br>
	<form method='POST' action="{% url 'confirm' %}">
		{% csrf_token %}
		{{ statusForm }}
		<input type='submit' name='submit' value='Submit'>
	</form>
</body>
</html>